---
import Card from "@/components/card.astro";
import Github from "@/components/github.astro";
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
    <Github />

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex flex-col text-center">
            <div class="w-fit max-w-md">
                <div
                    class="group flex w-full select-none flex-row justify-center text-5xl font-bold lg:hover:cursor-default"
                >
                    <h1>Cyrus</h1>
                    <h1
                        class="shrink animate-display-numbers overflow-hidden delay-1500 lg:basis-0 lg:animate-none lg:transition-flex-basis lg:delay-0 lg:duration-700 lg:group-hover:basis-1/2 lg:group-hover:text-primary"
                    >
                        01337
                    </h1>
                </div>

                <p class="py-6 italic">"I write code to improve myself and itself."</p>
            </div>

            <div class="flex flex-wrap content-center items-center justify-center gap-6 lg:gap-4">
                <Card
                    graphic="https://cdna.artstation.com/p/assets/images/images/022/502/864/large/alena-aenami-eternity-1080px.jpg"
                    href="https://github.com/cyrus01337"
                    title="Github"
                    description="Where the magic happens"
                />

                <Card
                    graphic="https://cdna.artstation.com/p/assets/images/images/026/481/586/large/alena-aenami-wait.jpg"
                    href="https://steamcommunity.com/id/doingyourmomin360VR/"
                    title="Steam"
                    description={"Where the magic doesn't happen, because I'm too busy trying to beat Hades for the 17th time"}
                />

                <Card
                    graphic="https://cdna.artstation.com/p/assets/images/images/017/814/664/large/alena-aenami-rooflinesgirl-1k-2.jpg"
                    href="https://www.artstation.com/aenamiart"
                    title="Credits to Alena Aenami"
                    description="Their paintings are addictive, please check them out"
                />
            </div>
        </div>
    </div>
</BaseLayout>
