<a
    class="group absolute right-2 top-2 box-border flex h-10 w-10 items-center justify-center rounded-full bg-transparent shadow-lg"
    href="https://github.com/cyrus01337/cyrus01337.co.uk"
>
    <img
        class="transition-size h-8 w-8 rounded-full border-2 border-base-content bg-base-content shadow-md duration-300 group-active:h-7 group-active:w-7 lg:group-hover:h-10 lg:group-hover:w-10"
        src="/github.svg"
    />
</a>
