<a
    class="flex size-10 items-center justify-center rounded-full bg-transparent shadow-lg"
    href="https://github.com/cyrus01337/cyrus01337.co.uk"
>
    <img
        class="size-8 rounded-full border-2 border-base-content bg-base-content shadow-md transition-size duration-300 hover:size-10 active:size-7 xl:size-10 xl:active:size-8"
        src="/github.svg"
    />
</a>
