---
interface Props {
    description: string;
    href: string;
    graphic: string;
    title: string;
}

const properties = Astro.props;
---

<a
    class="group card box-border w-96 rounded-2xl bg-base-100 shadow-lg transition-transform active:scale-95 lg:hover:cursor-pointer"
    href={properties.href}
>
    <figure class="relative rounded-t-2xl lg:rounded-b-2xl">
        <img
            class="brightness-100 transition-filter duration-300 lg:group-hover:brightness-30"
            src={properties.graphic}
            alt="Shoes"
        />
    </figure>

    <div
        class="card-body h-full w-full px-5 py-4 text-left lg:absolute lg:p-6 lg:text-white lg:opacity-0 lg:transition-opacity lg:duration-300 lg:group-hover:opacity-100"
    >
        <h2 class="card-title">{properties.title}</h2>

        <span>{properties.description}</span>
    </div>
</a>
