---
import Moon from "@/components/moon.astro";
import Sun from "@/components/sun.astro";
---

<divv class="flex size-10 items-center justify-center">
    <label class="swap swap-rotate size-8 transition-size duration-300 hover:size-10 active:size-7">
        <input class="theme-controller" type="checkbox" value="dark" />

        <Sun />
        <Moon />
    </label>
</divv>
