---
import "@fontsource-variable/inter-tight";

interface Props {
    class?: string;
}

const { class: className = null } = Astro.props;
---

<!doctype html>
<html data-theme="light" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content="Cyrus's Personal Site" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="My personal site for you to ogle, or a way for you to determine how you can contact me"
        />
        <meta
            property="og:image"
            content="https://image.thum.io/get/fit/1200x400/allowJPG/https://cyrus01337.co.uk"
        />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:locale:alternate" content="en_AU" />
        <meta property="og:locale:alternate" content="en_IE" />
        <meta property="og:site_name" content="Cyrus's Personal Site" />
        <meta property="og:url" content="https://cyrus01337.co.uk/" />

        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

        <title>Cyrus's Personal Site</title>

        <script is:inline>
            const theme = localStorage.getItem("theme");

            if (!theme) {
                document.documentElement.setAttribute("data-theme", "light");
            } else {
                document.documentElement.setAttribute("data-theme", theme);
            }
        </script>

        <script>
            import { themeChange } from "theme-change";

            themeChange();
        </script>
    </head>

    <body>
        <div class={className}>
            <slot />
        </div>
    </body>
</html>
