---
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout class="flex justify-center px-0 py-8 xl:p-6">
    <article class="xl:prose-md prose xl:prose-h1:text-center">
        <main>
            <slot />
        </main>
    </article>
</BaseLayout>
